page-C2 {
	p, li{
		color: #999!important;
	}
	.number{
		font-size:small;
		color:#999;
	}
	.toolbar-title {
	   text-overflow: unset;
	   white-space: unset;
	}
	.i{
		color:rgba(225, 56, 56, 0.71) !important;;
	}
	.biru{
		color: rgb(66, 127, 235) !important;
	}
	.orange{
		font-size:small !important;
		color:orange
	}
	.d{
		color:orange !important;
	}
	.small{
		font-size:smaller;
	}
	.hnobreak h1{
		display:inline !important;
	}
	h1{
		font-family: scheherazaderegular !important;
		font-size: 3rem !important;
	}

}
