page-G1 {
	p{
		color: #999!important;
	}
	.toolbar-title {
	   text-overflow: unset;
	   white-space: unset;
	}
	.biru{
		color: rgb(66, 127, 235) !important;
	}
	.salah{
		color: #dc3545!important;
	}
	.betul{
		color: #28a745!important;
	}
	.hnobreak h1{
		display:inline !important;
	}
	.webkitlarge{
		font-family: scheherazaderegular !important;
		font-size: -webkit-xxx-large;
	    margin-top: 15px;
	    margin-bottom: -45px;
     	margin-left: 20px;
	}
	h1{
		font-family: scheherazaderegular !important;
	}

}
