page-A1 {
	.orange{
		font-size:smaller;
		color:orange;
	}
	.small{
		font-size:smaller;
	}
	.number{
		font-size:medium;
		color:#999;
	}
	.i{
		color:rgba(225, 56, 56, 0.71) !important;
	}
	.huruf{
		font-family: scheherazaderegular !important;
	}
}
