page-E2 {
	p, li{
		color: #999!important;
	}
	.number{
		font-size:small;
		color:#999;
	}
	.toolbar-title {
	   text-overflow: unset;
	   white-space: unset;
	}
	.i{
		color:rgba(225, 56, 56, 0.71) !important;;
	}
	.biru{
		color: rgb(66, 127, 235) !important;
	}
	.orange{
		font-size:small !important;
	}
	.d{
		color:orange !important;
	}
	.salah{
		color: #dc3545!important;
	}
	.betul{
		color: #28a745!important;
	}
	.hnobreak h1{
		display:inline !important;
	}
	h1{
		font-family: scheherazaderegular !important;
		font-size: 3rem !important;
	}

}
