page-A3 {
	p{
		color: #999!important;
	}
	.number{
		font-size:small;
		color:#999;
	}
	.salah{
		color: #dc3545!important;
	}
	.betul{
		color: #28a745!important;
	}
	.toolbar-title {
	   text-overflow: unset;
	   white-space: unset;
	}
	h1{
		font-family: scheherazaderegular !important;
		font-size: 3rem !important;
	}

}
