page-A1_detail {
	.item-md{
		font-size: 1.4rem;
	}
	.biru{
		color: rgb(66, 127, 235) !important;
	}
	.orange{
		font-size:smaller;
		color:orange;
	}
	.label-md{
		margin: 0px 0px 5px 0px !important;
	}
	.toolbar-title {
	   text-overflow: unset;
	   white-space: unset;
	}
	.i{
		color:rgba(225, 56, 56, 0.71) !important;
	}
	h1{
		font-family: scheherazaderegular !important;
		font-size: 3rem !important;
		margin: 0 !important;
	}
}
