<ion-menu [content]="content">


  <ion-header>
    <ion-toolbar>
      <ion-title (click)=kandungan()>
        Kandungan <ion-icon name="search" float-right></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-content>
      <ion-list>
        <div *ngFor="let p of pages">
          <ion-list-header color="primary">
            {{p.main}}
          </ion-list-header>
          <button ion-item text-wrap *ngFor="let child of p.child" (click)="openPage(child)">
            {{child.title}}
          </button>
        </div>
      </ion-list>
    </ion-content>


</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>