page-A5 {
	p{
		color: #999!important;
	}
	.number{
		font-size:small;
		color:#999;
	}
	.toolbar-title {
	   text-overflow: unset;
	   white-space: unset;
	}
	.biru{
		color: #007bff!important;
	}
	.i{
		font-size:medium;
	}
	h1{
		font-family: scheherazaderegular !important;
		font-size: 3rem !important;
	}

}
