page-B1 {
	p{
		color: #999!important;
	}
	.number{
		font-size:small;
		color:#999;
	}
	.toolbar-title {
	   text-overflow: unset;
	   white-space: unset;
	}
	.i{
		color:rgba(225, 56, 56, 0.71) !important;;
	}
	.biru{
		color: #007bff !important;
	}
	.small{
		font-size:smaller;
	}
	.hnobreak h1{
		display:inline !important;
	}
	h1{
		font-family: scheherazaderegular !important;
		font-size: 3rem !important;
	}

}
